[submodule "ShaderPermute/glslang"]
	path = ShaderPermute/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "submodules/SPIRV-Headers"]
	path = submodules/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
	branch = vulkan-sdk-1.4.321
[submodule "submodules/SPIRV-Tools"]
	path = submodules/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
	branch = vulkan-sdk-1.4.321
[submodule "submodules/glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang
	branch = vulkan-sdk-1.4.321
